html, body, #root, .app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* can you do opacity here? for the background oh! 
                          why did you block them!*/
/* body {
  background: url(https://s3.meituan.net/v1/mss_3d027b52ec5a4d589e68050845611e68/avatar/b0/01/89/tq_1545868549.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center center;
} */

header {
  transition:  all 0.2s;
  position: fixed;
  margin: 0 auto;
  padding: 10px;
  top: 20px;
  width: calc(100% - 60px);
  text-align: center;
  font-size: 24px;
  /* fanfou blue */
  background: #0cf;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #ccc;
  color: white;
  outline: 0;
  user-select: none;
}
/* ⬇️I don't find them in CSS reference!⬇️
https://developer.mozilla.org/en-US/docs/Web/CSS/:hover
 */
header:hover {
  background:  pink;
  transform: scale(0.9);
}

header:active {
  background: orange;
  transform: scale(0.875);
}